.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
  margin: 15px 0;
}

/* Карточка 1x1 */
.icon-card {
  aspect-ratio: 1 / 1;
  background: #eee;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exp.active,
.mat.active {
  background: #6677ff;
  color: #fff;
}

/* КАРТИНКА СТРОГО 1x1 */
.icon-card img {
  width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  display: block;
  margin-bottom: 6px;
}

/* ТЕКСТ */
.icon-card span {
  font-weight: bold;
  text-align: center;
}
